extends ../base

block content
    .kapsamli.mx-4
        

        h1.display-4.titles= blog.title
        br
        .row
            .col-lg-12.text-center
                img.img-fluid.my-4(src=blog.image, width="80%")

        .paragrafD.paragraf.mx-auto!= convertedContent
    
            p.paragraf4 #{parseDate(blog.pub_date)}
        if user
            .row.justify-content-center.mt-5    
                a.btn.btn-edit.px-3.mr-1(href="/blog/" + blog.id + '/edit') Düzenle 
                    i.mx-2.fas.fa-pencil-alt

                a.btn.btn-delete.px-3.ml-1#delete-blog(href="#", data-id=blog.id) Sil 
                    i.mx-2.fas.fa-trash-alt


block js
    script(src="/components/js/index.js")
    script.
        $(".paragrafD img").addClass('img-fluid text-center');
    
